.display{
    height: 100vh;
    padding-top: 5%;
}

.form-box {
    background-color: aliceblue;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
    text-align: center;
    color: #333;
  }
  
  .form-box {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
  }
  
  .loginField {
    padding: 8px;
    margin-bottom: 15px;
    width: 275px;
  }
  
  .login-btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #2980b9;
  }

  .switch-form{
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    margin-top: 2px;
  }
