.navbar-dark .nav-link {
  color: white;
  font-family: 'Lato';
  font-weight: 600;
}

.navbar-dark .navbar-brand{
  color: white;
  font-family: 'Lato';
  font-weight: 600;
  margin-left: 10px;
}

.navbar-dark .links {
  margin-right: 10px;
  display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')